{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~root": "./",
          "~app": "./src",
          "~lib": "./src/lib",
          "~components": "./src/components"
        }
      }
    ]
  ]
}
